<html>

<head>
    <meta charset="utf-8">
    <title>GIFT v1.0</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</head>

</html>
<div class="row" style="background-color: lavender; margin: 0 50 0 50">
    <div class="row" style="width: 100%">
        <h1 style="font-family: Tahoma, Geneva, sans-serif;text-align:center;margin-left:23%">
            Facial Recognition For Presence Control
        </h1>
    </div>
    <div id="video_container" style="margin:auto;">
        <div class="form-group" style="display:flex;">
            <video width="1000" height="500" autoplay style="margin: auto;display:none" id="my_video"></video>
            <canvas width="1000" height="500" style="margin: auto; display:none" id="my_canvas"></canvas>
            <img width="1000" height="1000" id="photo" style="margin: auto;">
        </div>
    </div>

    <div id="divNamesReconhecidos">
        
    </div>
    <!-- <div style="width: 100%">
        <div class="col-lg-10 card rounded" id="video_container" style="margin:auto;">
            <div class="form-group card-body" style="display:flex;">
                <img id="bg" src=" url _ for('video_feed') ">
            </div>
        </div>
    </div> -->
</div>

<script type="text/javascript" src="../static/js/webcam.js"></script>
<script type="text/javascript" src="../static/js/RecordRTC.js"></script>

<script>
    $(document).ready(function () {
        accessWebCam();
    });


</script>